/* body{
    margin: 0;
    padding: 0;
    background-color: rgb(130, 162, 214);
}
.tests{
    width: 100%;
    height: 100vh;
    background: rgb(198, 220, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
#q1 {
    margin: 0 auto;
    
}

#answers img{
  margin: 0 10px;
} */

#myForm {
    background-color: rgba(123, 134, 134, 0.043);
    width: 30%;
    height: 100px;
    margin: 270px 45%;
    align-items: center;
    padding-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#age, #name{
    border:0;
    background-color: transparent;
    border-bottom:1px solid #555;
    height: 50px;
    width: 200px;
    font-size: larger;
    padding:8px 0 5px 0;
    color:#fff;
}

#submitButton {color:#fff;
background-color:#e74c3c;
outline: none;
border: 0;
color: #fff;
padding:10px 20px;
text-transform:uppercase;
margin-top:50px;
border-radius:2px;
cursor:pointer;
position:relative;}