* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

body {
  background: #141a34;
  margin: 0;
}

#myForm {
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(123, 134, 134, 0.192);
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  padding: 15px 15px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#age,
#name {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #555;
  height: 50px;
  width: 200px;
  padding: 8px 0 5px 0;
  color: #f4f4f4; 
}

label {
  color: #f4f4f4; 
  font-weight: bold;
}

input {
    outline: none;
}

#submitButton {
  color: #f4f4f4; 
  background-color: #e74c3c;
  outline: none;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
}


/* test style....................................... */

#container {
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #29304b;
    width: fit-content;
    padding: 10px;
}


#choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}
#choices > img{
 margin-right: 8px;
}

img {
    background-color: rgba(114, 162, 162, 0.551);
    border-radius: 3px;
    
}


#tryAgainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h2 {
    margin-top: 10px;
    color: #e0dfdf;  
}

#tryAgainBtn {
    color: #f4f4f4; 
    background-color: #e74c3c;
    outline: none;
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
}